pkgbase = xp-pen-tablet
	pkgdesc = XP-Pen (Official) Linux utility (New UI driver)
	pkgver = 3.2.3.220323
	pkgrel = 1
	epoch = 1
	url = https://www.xp-pen.com/download/index.html
	arch = x86_64
	license = LGPL3
	conflicts = xp-pen
	source = XP-PEN-pentablet-3.2.3.220323-1.x86_64.tar.gz::https://www.xp-pen.ru/download/file/id/1942/pid/445/ext/gz.html
	source = install.sh.patch
	sha256sums = 70b6dc1345958c1858d091a3d48bdd75c91fcc879ba175739ef9152790bdcb2b
	sha256sums = faf485df1abc51a7cc0e9c605ecc4299dc5e17891ccea45467c3b9ee63fd7c62

pkgname = xp-pen-tablet
